$main-color: #81d8d0;

.shelf {
  overflow: hidden;
  padding: 0 52px;
  width: 100%;
  max-width: 2000px;
  margin-bottom: 60px;

  &__item {
    position: relative;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 432px;
    padding-right: 8px;

    &--wishlist {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        &::before {
          background: url("../../assets/wishlisticon-empty.gif") no-repeat
            center center;
          background-size: contain;
        }
      }

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../../assets/Wishlist.svg") no-repeat center center;
        background-size: contain;
      }
    }

    &--brand {
      font-size: 14px;
      font-weight: normal;
      color: #000;
      text-decoration: underline;
      margin-bottom: 10px;
    }

    &--name {
      font-family: "SterlingDisplay Roman", "Times New Roman", Times, serif;
      font-size: 24px;
      font-weight: bold;
      color: #000;
      margin-bottom: 5px;
    }

    &--subname {
      font-family: "SterlingDisplay Roman", "Times New Roman", Times, serif;
      font-size: 16px;
      font-weight: normal;
      color: #000;
      margin-bottom: 10px;
    }

    &--add-to-bag {
      position: relative;
      overflow-y: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      cursor: pointer;
      border: 1px solid #000;
      background-color: #000;
      padding: 16px 24px;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      &:hover {
        @media (min-width: 600px) {
          background-color: $main-color;

          span {
            color: #000;
          }

          .shelf__item--btn-name {
            transform: translateY(-35px);
          }
        }
      }

      span {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
      }
    }

    &--btn-name {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 16px;
      right: 16px;
      top: 16px;
      transition: 0.3s;

      @media (max-width: 600px) {
        margin-top: 10px;
        position: initial;

        span:last-child {
          display: none;
        }
      }
    }
  }
}
