$main-color: #81d8d0;
$black: #000;
$white: #fff;

.header {
  position: fixed !important;
  top: 0;
  transition: top 0.3s;
  z-index: 999;

  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;

  &__topbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    border-bottom: 4px solid $main-color;
    height: 52px;
    padding: 0 40px;
    z-index: 9999;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 16px;
      min-height: 80px;
    }

    @media (max-width: 600px) {
      min-height: 102px;
    }

    p,
    a,
    span {
      font-size: 14px;
      color: $black;

      @media (max-width: 1024px) {
        font-size: 12px;
      }

      @media (max-width: 600px) {
        width: 95%;
      }
    }

    p,
    span {
      font-weight: normal;
    }

    a {
      text-decoration: underline;
      font-weight: bold;
    }

    span {
      margin: 0 16px;

      + a {
        padding-right: 8px;
        text-decoration: none;
      }
    }

    &--close {
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__midbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 0;

    @media (max-width: 1024px) {
      padding: 16px 24px;
    }

    &-left {
      display: flex;
      align-items: center;

      &--hamburger {
        font-size: 0;
        margin-right: 40px;

        @media (min-width: 1024px) {
          display: none;
        }

        @media (max-width: 600px) {
          margin-right: 20px;
        }

        &:hover {
          &::before {
            background: url("../../assets/hamburger-1.gif") no-repeat center
              center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/Hamburger-Menu.svg") no-repeat center
            center;
          background-size: contain;
        }
      }

      &--find {
        font-size: 0;
        margin-right: 40px;

        @media (max-width: 600px) {
          display: none;
        }

        &:hover {
          &::before {
            background: url("../../assets/search-icon.gif") no-repeat center
              center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/Search-1.svg") no-repeat center center;
          background-size: contain;
        }
      }

      &--store {
        font-size: 0;
        margin-right: 40px;

        @media (max-width: 900px) {
          display: none;
        }

        &:hover {
          &::before {
            background: url("../../assets/store-locator.gif") no-repeat center
              center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/StoreLocator.svg") no-repeat center
            center;
          background-size: contain;
        }
      }

      &--contact {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;

        @media (max-width: 900px) {
          display: none;
        }

        &:hover {
          &::before {
            background: url("../../assets/customer-service.gif") no-repeat
              center center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/Concierge.svg") no-repeat center center;
          background-size: contain;
          margin-right: 8px;
        }
      }
    }

    &-center {
      img {
        height: 26px;
        width: 191px;

        @media (max-width: 600px) {
          width: 128px;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;

      &--book-appointment {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        z-index: 999999;

        @media (max-width: 900px) {
          display: none;
        }

        &:hover {
          &::before {
            background: url("../../assets/book-an-apppointment.gif") no-repeat
              center center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/Appointment.svg") no-repeat center
            center;
          background-size: contain;
          margin-right: 10px;
        }
      }

      &--signin {
        font-size: 0;
        margin-left: 40px;
        z-index: 999999;

        @media (max-width: 900px) {
          display: none;
        }

        &:hover {
          &::before {
            background: url("../../assets/my-account.gif") no-repeat center
              center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/MyAccount.svg") no-repeat center center;
          background-size: contain;
        }
      }

      &--favorites {
        font-size: 0;
        margin-left: 40px;
        z-index: 999999;

        @media (max-width: 600px) {
          margin-left: 20px;
        }

        &:hover {
          &::before {
            background: url("../../assets/wishlisticon-empty.gif") no-repeat
              center center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/Wishlist.svg") no-repeat center center;
          background-size: contain;
        }
      }

      &--shopping-bag {
        display: flex;
        align-items: center;
        font-size: 0;
        margin-left: 40px;
        z-index: 999999;

        @media (max-width: 600px) {
          margin-left: 20px;
        }

        &:hover {
          &::before {
            background: url("../../assets/shoppingbag-empty.gif") no-repeat
              center center;
            background-size: contain;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url("../../assets/ShoppingBag.svg") no-repeat center
            center;
          background-size: contain;
        }

        &-full {
          &::before {
            background: url("../../assets/ShoppingBagFull.svg") no-repeat center
              center;
            background-size: contain;
          }
        }

        &-quantity {
          font-size: 12px;
          font-weight: normal;
          margin-left: 3px;
        }
      }
    }
  }

  &__searchbar {
    display: flex;
    padding: 6px 16px;
    border-top: 2px solid $main-color;

    @media (min-width: 600px) {
      display: none;
    }

    &--btn {
      font-size: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 10px;

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../../assets/Search-1.svg") no-repeat center center;
        background-size: contain;
      }
    }

    &--input {
      font-size: 16px;
      color: #909090;
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 10px 0;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
