$black: #000;
$white: #fff;

.video {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  margin-bottom: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    width: 100%;

    @media (max-width: 900px) {
      position: initial;
      margin-top: 10px;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      color: $white;
      text-align: center;

      @media (max-width: 900px) {
        color: $black;
      }
    }

    p {
      display: inline-block;
      width: 100%;
      max-width: 493px;
      margin: 10px auto 14px;
      font-size: 14px;
      font-weight: normal;
      color: $white;
      text-align: center;

      @media (max-width: 900px) {
        color: $black;
        max-width: none;
        margin: 20px auto 0;
      }
    }
  }
}
