$black: #000;
$white: #fff;

.video {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  aspect-ratio: 16/9;
  margin-bottom: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 80px;
    width: 100%;

    h3 {
      font-size: 24px;
      font-weight: bold;
      color: $white;
      text-align: center;
    }

    p {
      display: inline-block;
      width: 100%;
      max-width: 493px;
      margin: 10px auto 14px;
      font-size: 14px;
      font-weight: normal;
      color: $white;
      text-align: center;
    }
  }
}
